form{
    background-color: firebrick;
    margin: auto;
    padding-left: 90px;
    margin-top: 30px;
    padding: 50px;
    margin-bottom: 70px;
    width: 100%;
    margin-right: 90px;

}
body  {
    background-color: purple;
}
textarea   {
    height: 30px;
    width: 30%;
}